.tag {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    font-size: 11px;
    width: 30px;
    height: 100%;
    transform: rotate(180deg);
    writing-mode: vertical-lr;
}

.tag.completed {
    background-color: #4CAF50;
}

.tag.urgent {
    background-color: #FF5252;
}

.tag.important {
    background-color: #FFC107;
}

.tag.later {
    background-color: #9C27B0;
}

.tag.study {
    background-color: #26A7B8;
}

@media (min-width: 1000px) {
    .tag {
        flex-shrink: 0;
        position: static;
        font-size: 20px;
        border-radius: 10px;
        transform: none;
        writing-mode: unset;
    }

    .tag.m {
        width: 150px;
        height: 30px;
    }

    .tag.l {
        width: 200px;
    }
}