.tag {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    text-align: center;
    flex-shrink: 0;
    font-size: 20px;
    border-radius: 10px;
}

.tag.completed {
    background-color: #4CAF50;
}

.tag.urgent {
    background-color: #FF5252;
}

.tag.important {
    background-color: #FFC107;
}

.tag.later {
    background-color: #9C27B0;
}

.tag.study {
    background-color: #26A7B8;
}

.tag.m {
    width: 150px;
    height: 30px;
}

.tag.l {
    width: 200px;
}