.task {
    position: relative;
    display: flex;
    min-height: 70px;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding: 13px 40px 13px 10px;
    border-bottom: 1px solid #F6F6F6;
    background-color: #354259;
    font-size: 16px;
}


@media (min-width: 1000px) {
    .task {
        font-size: 20px;
        padding: 24px 20px 26px;
        min-height: 80px;
    }

}