.categories-title-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    z-index: 2;
}

.categories-title-wrapper::before {
    content: "";
    position: absolute;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    height: 1px;
    background-color: #ffffff;
}

.categories-title-wrapper.fluid::before {
    width: 100vw;
}

.categories-title {
    position: relative;
    margin: 0;
    font-size: 20px;
    font-weight: 600;
    padding: 0 12px;
    background-color: #354259;
    text-align: center;
    z-index: 2;
}

@media (min-width: 1000px) {}