.main {
    display: flex;
    gap: 12px;
    width: 100%;
    padding: 0 10px;
}

@media (min-width: 375px) {
    .main {
        padding: 0 37px;
    }
}

@media (min-width: 1000px) {
    .main {
        width: 912px;
        min-height: 514px;
    }

}