.header {
    position: relative;
    width: 100%;
}

.header-logo {
    margin: 0;
    padding-top: 80px;
    padding-bottom: 114px;
    color: #E9C597;
    text-align: center;
    font-family: Open Sans;
    font-size: 32px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 1;
}

.header-toggle-theme-button {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 32px;
    height: 35px;
    background-color: transparent;
    border: none;
    padding: 0;
}